<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <h2>ABOUT</h2>
</head>
<body>
    <h1>
        <p>India is the largest Travel Company in India in terms of number of IATA approved branches, staff strength and business turnover. Flight bookings have been made simpler than ever after Akbar Travels launched its Travel Portal, Akbartravelsonline.com, in 2007. The portal has been successfully assisting the passenger to book cheap flight tickets both in Domestic and International sectors. With effect from 12th March, 2014 the name of the travel portal has been changed to ‘Akbartravels.com’.
After years of successful operations since 2007, Akbartravels.com is poised for greater growth. In addition to strengthening its existing services to customers and travel partners, many new travel- related products are added to the website. IRCTC e-train Ticket booking is one of our successful products and a number of travel agents who have signed up as travel partners are earning high commissions on railway ticket bookings online
    </p>
    </h1>

<img src="static/images/boat-tour-chicago-architecture-5c30d99e46e0fb000111bb69.jpg" width="100%">

</body>
</html>